NODE_ENV=production
PORT=3010
TIMEOUT=120
NODE_OPTIONS=--max-old-space-size=400
CURSOR_MODEL=google/gemini-3-flash
MAX_HISTORY_TOKENS=120000
COMPRESSION_ENABLED=true
COMPRESSION_LEVEL=2
LOG_DB_ENABLED=false
LOG_FILE_ENABLED=false

# 填入你的 Cursor session token
CURSOR_SESSION_TOKEN=

# 自定义 API 鉴权密钥，如 sk-mytoken123
AUTH_TOKEN=
